@model MyBlog.Models.Post

@{
    ViewData["Title"] = Model.Title;
    ViewBag.Description = Model.Description;
    //You have not done the keywords check it online
    //ViewBag.Category = "Blog Programming Tavelling Photography Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<h4> This is a Blog Site </h4>
<hr />
<h2>@Model.Title</h2>

@if (!String.IsNullOrEmpty(Model.Image))
{
    var imagePath = $"/Image/{Model.Image}";

    <img src="@imagePath" width="150" />
}
<h5>@Model.Body</h5>*@
<div class="containerMe">
    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var imagePath = $"/Image/{Model.Image}";

            <img src="@imagePath" width="150" />
            <span class="title">@Model.Title</span>
        }
    </div>
    <div class="post-body">
        @Html.Raw(Model.Body);
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
